# Cache, session files and logs (Symfony3)
/var/cache/*
/var/sessions/*
!var/cache/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

###> Managed by Symfony and Composer ###
/bin/*
!bin/console
!bin/phpunit
/vendor/
/composer.phar
###< Managed by Symfony and Composer ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/*
!/public/bundles/.gitkeep
/public/build/*
!/public/build/.gitkeep
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/app/phpunit.xml
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> IDE files ###
.history/
.vscode/
.phpintel/
###< IDE files ###

# Embedded web-server pid file
/.web-server-pid

###> ignore compressed files ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.swf
*.db
###< ignore compressed files ###

###> ignore compiled files ###
*.com
*.class
*.dll
*.exe
*.o
*.so

error_log
error.error_log

sftp-config.json
###< ignore compiled files ###
