// scss-docs-start grid-breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

// scss-docs-end grid-breakpoints

// scss-docs-start container-max-widths
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
) !default;

// scss-docs-end container-max-widths

$primary: darken(#428bca, 20%) !default;

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
