{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {{ status_code }} {{ status_text }}
    </h1>

    <p>
        <a href="{{ path('app_home') }}">Página de inicio</a>.
    </p>
{% endblock body %}
